@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f4f4f4;
  padding: 50px 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo a{
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.navigation a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
}

.navigation .btnLogin-popup{
  width: 140px;
  height: 40px;
  background:transparent;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 45px;
  margin-right:-55px;
  color: black;
}


.wrapper {
  position: sticky; 
  left: 35%;
  width: 377px;
  height: 440px;
  background: transparent;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform: scale(0);
  transition: all .5s ease, all .2s ease;
  z-index: 999999;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 230px; 
}

.wrapper.active-popup{
  transform: scale(1);
}

.wrapper.active{
  height: 480px;
}

.wrapper .form-box{
  width: 100%;
  padding: 50px;
}

.wrapper .form-box.Login{
  transition: all .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.Login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.Register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.Register{
transition: all .18s ease;
transform: translateX(0);
}

.wrapper .close-icon{
  position:absolute;
  top: 0%;
  right: 0%;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  z-index: 1;
  top: -2px;
  right: -2.6px;
}


.btn {
  width: 100%;
  height: 49px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  margin-top: 20px;
}

.form-box h2{
  /* display: flex; */
  font-size: 2em;
  /* margin-top: -10px;
  margin-left: 90px; */
  color: #162938;
  text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
  margin-top: 30px;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition:  .3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.parent1 {
  white-space: nowrap;
  font-size: 0;
}

.child1 {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  width: 46%;
}

.child2 {
  width: 4%;
  margin-right: 5px;
}

.child3 {
  width: 50%;
  text-align: right;
}

.remember-forgot input{
  accent-color: #162938;
  margin-right: 3px;


}


.game{
  position: absolute;
  justify-content: center;
  margin-top: 10%;
} 


.child3 .a:hover {
  background: #ffffff;
  color: #166666;
}

.remember-forgot a{
  color: #162999;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline
}

.btn{
  width: 100%;
  height: 49px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  margin-top: 17%;
}

.login-register{
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin-top: 7px;
}

.login-register p a{
  color: #162999;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.form-box.Register h2{
  /* display: flex; */
  margin-top: -8px;
  /* margin-right: 80px; */
  font-size: 2em;
  color: #162938;
  text-align: center;
  /* justify-content: center; */
}

.register-login {
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 8px 0 10px;
}

.register-login p a{
  color: #162999;
  text-decoration: none;
  font-weight: 600;
}

.register-login p a:hover {
  text-decoration: underline;
}

.form-box.Register .btn{
  width: 100%;
  height: 49px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  margin-top: 7%;
}

.wrapper .form-box.Register{
  position: absolute;
  transform: translateX(400px);
}

.team-section {
  padding: 20px;
  margin-top: 80px;
}

.section-title {
  font-size: 24px;
  text-align: center;
  color: #d32f2f;
  text-transform: uppercase;
  padding: 10px;
  margin: 30px 0 20px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.player-card {
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.player-card:hover {
  transform: translateY(-10px);
}

.player-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.player-card h3 {
  font-size: 18px;
  background-color: #0d47a1;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.player-card p {
  text-align: center;
  padding: 10px;
  background-color: #e3f2fd;
  margin: 0;
}

@media (max-width: 768px) {
  .player-card {
      width: 200px;
  }

  .player-card img {
      height: 280px;
  }
}

.wrapper1{
  position: sticky;
  top: 29%;
  left: 35%;
  width: 377px;
  height: 440px;
  background: transparent;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform: scale(0);
  transition: all .5s ease, all .2s ease;
  z-index: 999999;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* margin-top: 20%; */
}

.wrapper1.active-popup{
  transform: scale(1);
}

.wrapper1.active{
  height: 480px;
}

.wrapper1 .form-box{
  width: 100%;
  padding: 50px;
}

.wrapper1 .form-box.Login{
  transition: all .18s ease;
  transform: translateX(0);
}

.wrapper1.active .form-box.Login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper1 .form-box.Register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper1.active .form-box.Register{
transition: all .18s ease;
transform: translateX(0);
}

.wrapper1 .close-icon{
  position:absolute;
  top: 0%;
  right: 0%;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  z-index: 1;
  top: -2px;
  right: -2.6px;
}

.wrapper1 .form-box.Register{
  position: absolute;
  transform: translateX(400px);
}